<!DOCTYPE html>
<html>
<head>
    <title> Vue 3 Basics</title>
</head>
<style>
    .box{
        padding: 3px 3px;
        height: 100px;
        width: 100px;
        background-color: red;
    }

    .box2{
        padding: 3px 3px;
        height: 100px;
        width: 100px;
        background-color: green;
    }

    .box3{
        padding: 3px 3px;
        height: 100px;
        width: 100px;
        background-color: green;
    }

    [v-cloak]{
        display: none;
    }
    input{
        margin: 2px;
        display: block;
    }
</style>
<body>
    <div id = "app" v-cloak>
        <custom-form>
        </custom-form>
        <hr/>
        <input v-model="greeting" @keyup.enter="greet(greeting)">

        <div v-if="isVisible" class="box"></div>

        <button  v-on:click="ontoggle">Toggle box</button>

    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function (){
                return {
                    greeting: "Hello Vue 3!",
                    isVisible: false,
                    isVisible2: false,
                }
            },
            methods:{
                ontoggle:function (){
                    this.isVisible = !this.isVisible;
                },
                greet(){
                    console.log(this.greeting);
                }
            }
        })
        app.component(
            "custom-form",{
                template:`
                    <form @submit.prevent="handleSubmit">
                    <h1>
                      {{ title }}
                    </h1>
                        <custom-input  v-model="email"  label="emailLabel"/>
                        <custom-input  v-model="password"  label="passwordLabel"/>
                    <button >Submit</button>
                    </form>
                `,
                components:['custom-input'],
                data: function (){
                    return {
                        title: "Login Form",
                        email: 'nhi@gmail.com',
                        password:'',
                        emailLabel: "Email",
                        passwordLabel: 'Password'
                    }
                },
                methods:{
                    handleSubmit:function (){
                        console.log("Submit" , this.email, this.password)
                    }
                }
            },

        )
        app.component(
            "custom-input",{
                template:
                    `
                <label>
                    {{label}}
                    <input type="text" v-model="inputValue"/>
                </label>
                `,
                props:['label','modelValue'],
                computed:{
                    inputValue:{
                        get(){
                            return this.modelValue;
                        },
                        set(value){
                            this.$emit('update:modelValue', value)
                        }
                    }
                }
                // data:{
                //     inputValue: ""
                // }
            }
        )
        app.mount("#app");
    </script>
</body>
</html>